@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    font-family: 'poppinsregular', sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #181818;
    padding: 24px 0;

}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 34px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu li {
    margin-left: 32px;
}

.header__menu li a {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;

}

.header__menu li:first-of-type {
    margin-right: 24px;
}

.header__menu li:first-of-type a {
    font-size: 12px;
}

.header__menu li:last-of-type a {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    text-decoration: none;
}

.main__banner {
    height: calc(100vh - 82px);
    background-image: url("../img/image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    position: relative;
}

.main__container {
    max-width: 580px;
    text-align: center;
}

.main__banner h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;

}

.main__banner h1 {
    font-size: 54px;
    line-height: 59px;
    margin-bottom: 18px;
    color: #FFFFFF;
}

.main__banner p {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.help__with {
    background-color: #000000;
    padding: 113px 0 108px 0;
}

.help__with .container {
    max-width: 571px;
    margin: auto;
    text-align: center;
}

.help__with h2 {

    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.help__with h3 {

    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 31px;
}

.btn{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
    align-items: center;

}

.btn:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 5px;

}

.info_block {
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.info_block p {
    max-width: 298px;
    margin-right: 62px;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.info_block h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fuji {
    background-image: url("../img/fuji.jpg");
    background-size: cover;
}

.leaves {
    background-image: url("../img/leaves.jpg");
    background-size: cover;
}

.starfall {
    background-image: url("../img/starfall.jpg");
    background-size: cover;
}

.widget_right_bottom {
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}

.widget_right_bottom li {
    font-family: 'poppinsregular', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;

}

.widget_right_bottom li:before {
    content: "";
    display: inline-block;
    background-image: url("../img/pins/Combined-Shape.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -7px;
}

.widget_right_bottom li:nth-child(2):before {
    background-image: url("../img/pins/Combined-Shape2.svg");
}

.widget_right_bottom li:nth-child(3):before {
    background-image: url("../img/pins/Combined-Shape3.svg");
    width: 32px;
    margin-right: 7px;
}

.widget_right_bottom li:nth-child(4):before {
    background-image: url("../img/pins/Combined-Shape4.svg");
    width: 10px;
    margin-right: 5px;
}

.specialized_carts {
    background-color: #000000;
    padding: 113px 0 84px;
}

.specialized_carts h2 {
    font-family: 'poppinsregular', sans-serif;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.specialized_carts h4 {
    font-family: 'poppinsregular', sans-serif;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}

.specialized_carts .container {
    max-width: 1168px;
    margin: auto;
}

.specialized_carts .article_group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.specialized_carts article {
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}

.specialized_carts article img {
    display: block;
    width: 100%;
}

.article_group .description {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.description h5 {
    font-family: 'poppinsregular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.description p {
    font-family: 'poppinsregular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 18px;
}
.about_clients{
    background-color: #000000;
}
.about_clients .container{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 113px 0 140px;
}
.about_clients h3{
    font-family: 'poppinsregular', sans-serif;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.about_clients h5{
    font-family: 'poppinsregular', sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.companies_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}